.section {
  background: #fafafa;
  display: flex;
  display: -ms-flexbox;
}
.section-sidebar {
  display: flex;
  display: -ms-flexbox;
  -ms-flex: 0 0 28rem;
  flex: 0 0 28rem;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  width: 28rem;
}
.section-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100vh;
  overflow-y: auto;
  padding-right: 4rem;
}
.section-footer {
  bottom: 0;
  color: #ccc;
  -ms-flex: 0 0 12rem;
  flex: 0 0 12rem;
  font-size: 1.2rem;
  height: 12rem;
  padding: 2rem;
  position: absolute;
  text-align: center;
  width: 28rem;
}
.section-footer a {
  color: #999;
}
.section-footer p {
  margin-bottom: 0;
}
.section-footer .text-red {
  color: #e06870;
}
.sidebar-header {
  color: #999;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 4rem 2rem 2rem 2rem;
  text-align: center;
}
.sidebar-header .sidebar-header-logo {
  box-shadow: none;
  display: block;
  font-size: 1.4rem;
  padding: 1rem;
  text-decoration: none;
}
.sidebar-header .sidebar-header-logo .logo {
  height: 4.8rem;
}
.sidebar-header p {
  font-size: 1.2rem;
  line-height: 2rem;
}
.sidebar-header .nav {
  border-top: .1rem solid #eee;
  list-style: none;
  margin: 2rem 0;
  padding: 2rem 0;
}
.sidebar-header .nav:last-of-type {
  border-bottom: .1rem solid #eee;
}
.sidebar-header .nav a {
  color: #666;
}
.sidebar-footer {
  -ms-flex: 0 0 12rem;
  flex: 0 0 12rem;
  height: 12rem;
}
.content-title {
  margin-top: 2rem;
  padding: 2rem 1rem 0 1rem;
}
.content-title h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.content-cards {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.content-cards .content-card {
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding: 1rem;
}
.content-cards .card {
  border: 0;
  box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .05);
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 36rem;
  transition: all .25s ease-in-out;
}
.content-cards .card:hover {
  box-shadow: 0 .2rem .6rem rgba(0, 0, 0, .15);
}
.content-cards .card-image {
  background-position: center;
  background-size: cover;
  display: block;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 18rem;
  width: 100%;
}
.content-cards .card-header {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.content-cards .card-header .card-title h1 {
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin-bottom: 0;
}
.content-cards .card-header .card-title a {
  color: #333;
}
.content-cards .card-header .card-title a:focus,
.content-cards .card-header .card-title a:hover {
  color: #2687fb;
  text-decoration: none;
}
.content-cards .card-body {
  color: #999;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 1.3rem;
  height: 6rem;
  line-height: 2rem;
  overflow: hidden;
  padding: 2rem 1.5rem 0 1.5rem;
}
.content-cards .card-footer {
  color: #ccc;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 1.3rem;
  line-height: 2rem;
  padding-top: 1.5rem;
}
.content-cards .card-footer a {
  color: #ccc;
}
.content-cards .card-footer a:focus,
.content-cards .card-footer a:hover {
  color: #999;
}
.content-post {
  background: #fff;
  box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .05);
  color: #666;
  margin: 4rem 0;
  padding: 4rem;
}
.content-post .content-post-title h1 {
  color: #333;
  font-size: 2.8rem;
  margin: 0;
}
.content-post .content-post-meta {
  color: #ccc;
  margin: 2rem 0;
}
.content-post .content-post-meta.post-meta-tags a {
  background: #fafafa;
  border-radius: .2rem;
  color: #999;
  margin: .5rem 1rem .5rem 0;
  padding: .5rem 1rem;
  text-decoration: none;
}
.content-post .content-post-meta.post-meta-tags a:focus,
.content-post .content-post-meta.post-meta-tags a:hover {
  background: #eee;
  color: #666;
}
.content-post .content-post-body {
  margin-bottom: 5rem;
}
.content-post .content-post-body h2 {
  color: #333;
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
  margin-top: 5rem;
}
.content-post .content-post-body h3 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
  margin-top: 5rem;
}
.content-post .content-post-body h4 {
  color: #333;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
  margin-top: 5rem;
}
.content-post .content-post-body p {
  margin-bottom: 2rem;
}
.content-post .content-post-body hr {
  border: 0;
  border-top: .1rem solid #eee;
}
.content-post .content-post-author {
  border-top: .1rem solid #eee;
  margin-top: 4rem;
  padding-top: 2rem;
}
.content-post .content-post-author p:last-child {
  margin-bottom: 0;
}
.content-post .content-post-comments {
  border-top: .1rem solid #eee;
  margin-top: 2rem;
  padding-top: 2rem;
}
.content-post .content-post-comments h4 {
  font-size: 1.8rem;
}
.content-post .content-post-comments .btn.btn-primary {
  white-space: normal;
}
.content-post .content-post-comments .btn.btn-primary a {
  color: #fff;
  text-decoration: underline;
}
.content-post .toc {
  background: #fafafa;
  display: inline-block;
  float: right;
  margin-bottom: 4rem;
  margin-left: 4rem;
  min-width: 24rem;
  padding: 2rem;
}
.content-post .toc ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
}
.content-post .toc ul ul {
  border-left: .1rem solid #dedede;
  padding-left: 1em;
}
.content-post .toc ul a {
  color: #666;
}
.content-page .content-post-body {
  margin: 4rem 0 0 0;
}
.isso-postbox .textarea-wrapper {
  margin-bottom: 1rem;
}
.isso-postbox .textarea-wrapper .textarea {
  min-height: 6rem;
}
.isso-postbox .textarea-wrapper .textarea,
.isso-postbox .auth-section .input-wrapper input {
  background: #fafafa;
  border: .1rem solid #eee;
  border-radius: .2rem;
  padding: .6rem .8rem;
}
.isso-postbox .textarea-wrapper .textarea:focus,
.isso-postbox .auth-section .input-wrapper input:focus {
  border-color: #999;
  outline: none;
}
.isso-postbox .auth-section {
  display: flex;
  display: -ms-flexbox;
}
.isso-postbox .auth-section .input-wrapper {
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  padding-right: 1rem;
  width: 25%;
}
.isso-postbox .auth-section .post-action {
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  width: 25%;
}
.isso-postbox .auth-section .post-action input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #2687fb;
  border: .1rem solid #177ffb;
  border-radius: .2rem;
  color: #fff;
  padding: .6rem;
}
.isso-postbox .auth-section .post-action input:focus {
  background: #177ffb;
  outline: none;
}
.isso-postbox .auth-section input {
  width: 100%;
}
.isso-comment {
  display: flex;
  display: -ms-flexbox;
  margin-top: 2rem;
}
.isso-comment .avatar {
  background: #fafafa;
  margin-right: 1.5rem;
}
.isso-comment .avatar svg {
  border-radius: 50%;
  height: auto;
  width: 100%;
}
.isso-comment .isso-comment-header .author {
  font-weight: bolder;
}
.isso-comment .isso-comment-header .spacer {
  color: #ccc;
  margin-left: 1rem;
  margin-right: 1rem;
}
.isso-comment .isso-comment-header .permalink {
  color: #ccc;
}
.isso-comment .isso-comment-header .note {
  margin-left: .5rem;
}
.isso-comment .upvote,
.isso-comment .downvote {
  display: inline-block;
}
.isso-comment .upvote svg,
.isso-comment .downvote svg {
  position: relative;
  top: .4rem;
}
.isso-comment .reply:not(:first-child),
.isso-comment .edit:not(:first-child),
.isso-comment .delete:not(:first-child) {
  font-size: 1.2rem;
  margin-left: .5rem;
}
.isso-comment.isso-no-votes .votes {
  display: none;
}
/*

Dracula Theme v1.2.0

https://github.com/zenorocha/dracula-theme

Copyright 2015, All rights reserved

Code licensed under the MIT license
http://zenorocha.mit-license.org

@author Éverton Ribeiro <nuxlli@gmail.com>
@author Zeno Rocha <hi@zenorocha.com>

*/
.hljs {
  background: #282a36;
  display: block;
  overflow-x: auto;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
  color: #8be9fd;
}
.hljs-function .hljs-keyword {
  color: #ff79c6;
}
.hljs,
.hljs-subst {
  color: #f8f8f2;
}
.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #f1fa8c;
}
.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #6272a4;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}
.hljs-emphasis {
  font-style: italic;
}
@media screen and (min-width: 2048px) {
  .content-cards .content-card {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}
@media screen and (min-width: 1600px) {
  .section-sidebar {
    -ms-flex: 0 0 40rem;
    flex: 0 0 40rem;
    width: 40rem;
  }
  .section-footer {
    width: 40rem;
  }
  .content-cards .content-card {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media screen and (max-width: 1200px) {
  .section-sidebar {
    -ms-flex: 0 0 22rem;
    flex: 0 0 22rem;
    width: 22rem;
  }
  .section-footer {
    width: 22rem;
  }
  .content-cards .content-card {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 840px) {
  .content-cards .content-card {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .content-cards .content-card .card {
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .section {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section .section-sidebar {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: auto;
    width: 100%;
  }
  .section .section-sidebar .sidebar-header {
    padding: 2.5rem;
  }
  .section .section-sidebar .sidebar-footer {
    -ms-flex: 0;
    flex: 0;
    height: 0;
  }
  .section .nav {
    border: 0;
    margin-bottom: 0;
    padding-top: 0;
  }
  .section .nav li {
    display: inline;
  }
  .section .nav li:not(:first-child)::before {
    content: "・";
  }
  .section .section-content {
    height: auto;
    padding-right: 0;
  }
  .section .section-content .content-post {
    margin: 2rem 0;
    padding: 4rem 2rem;
  }
  .section .section-content .content-post h2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .section .section-content .content-post .toc {
    float: none;
    margin-bottom: 1rem;
    margin-left: 0;
    max-width: none;
    width: 100%;
  }
  .section .section-content .content-post .toc ul {
    margin-bottom: 0;
  }
  .section .section-footer {
    position: static;
    width: 100%;
  }
}