.post-comment-count {
  float: right;
}

/* Fix issue #3 */
.content-post-body p > img
, .content-post-body > iframe
{
  max-width: 100%;
}


td, th {
  border: 1px solid #ccc;
  padding: 2px 0.5em;
}

table {
  border-collapse: collapse;
  max-width: 100%;
}
